<html>
	<head>
		<title>AppspotFlask</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<center>
			<h1>
				AppspotFlask Örnek Sayfa
			</h1>
			
			<a href="/sayfa1">Sayfa1</a><br>
			<span>- Sayfa1 isimli test sayfanız</span><br><br>
			
			<a href="/sayfa2/deneme">Sayfa2</a><br>
			<span>- Sayfa2/deneme isimli test sayfanız (deneme yerine başka bir şey de girebilirsiniz)</span><br><br>
			
			<a href="https://qpython.club/downloader.php?app=follow_manager.exe">Instagram Folow Manager</a><br>
			<span>- Instagram otomatik takip ve takibi bırakma uygulaması</span><br><br>
			
			<a href="http://turbobit.qpython.club">Turbobit Premium Link Çeviri</a><br>
			<span>- Turbobit ve daha bir çok linklerinizi premium olarak çevirip indirme sayfası</span><br><br>
			
			<a href="https://qpython.club/puhu/">PuhuTV indirme</a><br>
			<span>- PuhuTV için indirme bağlantısı oluşturma sayfası</span><br><br>
			
			<a href="https://qpython.club/downloader.php?app=HotSpotPass.exe">HotspotPass.exe</a><br>
			<span>- Mobil verinizi bilgisayarınıza aktarırken operatörlerin engellerini bypass etme uygylaması</span><br><br>
			
			<a href="https://qpython.club/downloader.php?app=TTL_Changer.exe">TTL_Changer.exe</a><br>
			<span>- Bilgisayarınızın TTL değerini tek seferde ayarlama uygulaması</span><br><br>
			
			<a href="https://qpython.club">Qpython.Club</a><br>
			<span>- Ve daha fazlası için qpython.club Forum AnaSayfasını ziyaret ediniz.</span><br><br>
		</center>
	</body>

</html>

